ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=Change_this_local_SA_password_123!
CADASTRO_DB_PASSWORD=Change_this_cadastro_password_123!
ESTOQUE_DB_PASSWORD=Change_this_estoque_password_123!
ORDENS_DB_PASSWORD=Change_this_ordens_password_123!
E2E_DB_PASSWORD=Change_this_e2e_password_123!
CADASTRO_HTTP_PORT=5101
ESTOQUE_HTTP_PORT=5102
ORDENS_HTTP_PORT=5103
SQLSERVER_PORT=14333
WIREMOCK_HTTP_PORT=5110
LOCALSTACK_HTTP_PORT=4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
ASPNETCORE_ENVIRONMENT=Development
AUTHENTICATION_MODE=Development
DATABASE_APPLY_MIGRATIONS=true
MESSAGING_SQS_ENABLED=true
PAYMENTS_SCENARIO=aprovado
